body {
	background-color: #BBBBBB;
	color: #000000;
}

a {
	color: #006600;
	text-decoration: none;
}

a[target=_blank] {
	color: #009999;
}

a:hover {
	text-decoration: underline;
}


#loadProgresses {
	display: inline-block;
	position: fixed;
	right: 5px;
	bottom: 5px;
	z-index: 100;
}

.popup {
	display: inline-block;
	position: absolute;
	border: 2px #006600 solid;
	border-radius: 7px;
	padding: 8px;
	background-color: #AAAAAA;
	z-index: 1000;
}

.popupClose {
	float: right;
	right: 20px;
	top: 10px;
}


#user {
	float: right;
	border: 1px #006600 solid;
	border-radius: 5px;
}

.hider {
	display: none;
	border: 2px solid #006600;
	border-radius: 5px;
	background-color: #AAAAAA;
}

.hider.active {
	display: block;
}

#user_hinzu_nomatch {
	font-weight: bold;
}

.falsch {
	background-image: url(../img/error.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain
}

.addRecord {
	display: none;
}

blockquote {
	border: dotted 1px #006600;
	background-color: #AAAAAA;
	padding: 5px 10px;
}

.nicht {
	font-weight: bold;
	text-decoration: underline;
}

#addRecordTest.frei {
	color: #00AA00;
}

#addRecordTest.belegt {
	color: #FF0000;
}

#addRecordTest.invalid {
	color: #FF6666;
}

#unverschluesselt {
	font-size: 13;
	border: dotted 1px #006600;
	border-radius: 3px;
	display: inline-block;
	padding: 2px;
	background-color: #AAAAAA;
}

.fertig {
	text-decoration: line-through;
}

#login, #logout {
	padding: 0 1px 0 3px;
}

#login > div {
	text-align: right;
}

#login > div:last-child {
	font-size: xx-small;
	margin-right: 10px;
}
