body {
	background-color: #cbcbcb;
	color: #000000;
	font-family: sans-serif;
	font-size: 12px;
}

a {
	color: #006600;
	text-decoration: none;
}

a[target=_blank] {
	color: #007;
}

a:hover {
	text-decoration: underline;
}


#loadProgresses {
	display: inline-block;
	position: fixed;
	right: 5px;
	bottom: 5px;
	z-index: 100;
}

.popup, .hider {
	display: inline-block;
	position: absolute;
	border: 2px #006600 solid;
	border-radius: 5px;
	padding: 4px;
	background-color: #AAAAAA;
	z-index: 1000;
	line-height: 22px;
}

.popupClose {
	float: right;
	right: 20px;
	top: 10px;
}


#user {
	float: right;
	border: 1px #006600 solid;
	border-radius: 5px;
}

.hider {
	display: none;
}

.hider.active {
	display: block;
}

#user_hinzu_nomatch {
	font-weight: bold;
}

.addRecord {
	display: none;
}

blockquote {
	border: dotted 1px #006600;
	background-color: #AAAAAA;
	padding: 5px 10px;
}

.nicht {
	font-weight: bold;
	text-decoration: underline;
}

#addRecordTest.frei {
	color: #00AA00;
}

#addRecordTest.belegt {
	color: #FF0000;
}

#addRecordTest.invalid {
	color: #FF6666;
}

#unverschluesselt {
	font-size: 13;
	border: dotted 1px #006600;
	border-radius: 3px;
	display: inline-block;
	padding: 2px;
	background-color: #AAAAAA;
}

.fertig {
	text-decoration: line-through;
}

#login, #logout {
	padding: 0 1px 0 3px;
}

#login > div {
	text-align: right;
}

#login > div:last-child {
	font-size: xx-small;
	margin-right: 10px;
}

var::before,
var::after {
	content: "%";
}

var {
	color: #000077;
}

#domains tr[rtype="PTR"] {
	color: #777777;
}

table {
	border: 1px solid #000;
	border-collapse: collapse;
	margin: 0.5em;
}

table th,
table td {
	font-size: 14px;
	border: 1px solid #000;
	padding: 3px;
}

tr:nth-child(odd) {
	background: #ddd;
}

tr:nth-child(even) {
	background: #eee;
}

table table {
	width: 100%;
	margin: 0;
}

td a,
input[type="button"] {
	border: 1px outset #ccc;
	border-radius: 5px;
	margin: 0px;
	padding: 0 3px;
	display: inline-block;
	background: #ccc;
	text-decoration: none;
	cursor: pointer;
	min-width: 12px;
	text-align: center;
}

td a:hover,
input[type="button"]:hover {
	background: #060;
	border-color: #060;
	color: #ccc;
	text-decoration: none;
}

.popup label,
.hider label {
	display: inline-block;
	min-width: 70px;
}

.popup input[type="button"],
.hider input[type="button"] {
	margin-top: 0.5em;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 18px;
	border-bottom: 1px solid #000;
	margin: 1em 0 0.5em;
}

input[type="text"],
input[type="number"],
input[type="password"],
select {
	border: 1px solid #000;
	border-radius: 3px;
	line-height: 18px;
	padding: 0 3px;
}

input.falsch {
	background-color: #fcc;
	background-image: url("../img/error.png");
	background-position: right 1px center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
}

#records label {
	display: inline-block;
	min-width: 170px;
	line-height: 22px;
}

#footer {
	margin-top: 2em;
}
