[Interface]
Address = 10.100.0.2/24
PrivateKey = <slave private key - generate with: docker run --rm -it --entrypoint wg linuxserver/wireguard genkey>

[Peer]
PublicKey = <master public key>
Endpoint = <master_public_ip>:51820
AllowedIPs = 10.100.0.0/24
PersistentKeepalive = 25
